# ── Server ──────────────────────────────────────────────
PORT=
CLIENT_URL=
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=

# ── Client ──────────────────────────────────────────────
NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_API_URL=

VITE_API_URL=
VITE_SOCKET_URL=